.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
BayPass_OutPut
SamTools_Depth
plink_pca
.DS_Store
PCAdapt_plink
PCAdapt_results
GenWin_results
BayPass_results
PCA_outliers
Snow_data
Snow_data_daily
